*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    color: #000000;
    font-size: 16px;
    line-height: 1.33;
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, Ubuntu, roboto, noto, segoe ui, arial, sans-serif;
}
.head{
    width: 100%;
    height: 160px;
    background-color: rgb(231, 124, 0);
    position: absolute;
    top: 0;
}
.header{
    width: 85%;
    max-height: 150px;
    margin: 0 auto;
}
.head_one{
    height: 30px;
}
.head_one ul{
    padding: 0px;
    margin: 0px;
}
.head_one ul li{
    list-style: none;
    float: right;
}
.head_one ul li a{
    text-decoration: none;
    display: block;
    height: 40px;
    line-height: 40px;
    color: azure;
    padding: 0px 5px;
}
.head_one ul li a.dn{
    border-right: 1px solid azure;
}
.head_two{
    width: 100%;
    height: 90px;
    display: block;
}
.img_tt{
    width: 30%;
    height: 90px;
}
.img_tt img{  
    float: left;
    width: 60%;
    height: 90px;
    margin-top: -10px;
}
.seach{
    top: -85px;
    width: 80%;
    height: 70px;   
    text-align: center;
    list-style: none;
    line-height: 40px;
    padding: 0 10px 0 10px;
    display: flex;
    margin-top: 10px;
    position: relative;
    left: 130px;
    margin-left: 15%;
}
.seach_giohang{
    max-width: 20%;
    height: 40px;
    display: block;
}
.seach .a_giohang{
    text-decoration: none;
    color: azure;
    max-width: 98px;
    height: 40px;
}
img.giohang{
    width: 20%;
    height: 30px;
    vertical-align: middle;
}
.seach input{
    width: 50%;
    height: 30px;
    border: none;
}
.seach .a_button{
    text-decoration: none;
    max-width: 12%;
    height: 30px;
    line-height: 50%;
}
.seach a button{
    max-width: 100%;
    height: 30px;
    margin-right: 20px;
}
.seach_button{
    border: none;
    outline: none;
    font-size: 1rem;
    border-radius: 3px;
}
.seach_input{
    width: 80%;
    height: 80%;
    border: none;
    outline: none;  
    font-size: 1rem;
    padding: 0 16px;
    border-radius: 3px;
}


.head_three{
    width: 100%;
    height: 40px;
    background-color: rgb(231, 233, 235);
}
.container{
    width: 1240px;
    height: 40px;
    margin: 0 auto;
}
.container ul{
    padding: 0px;
    margin: 0px;
}
.container ul li{
    list-style: none;
    float: left;
    line-height: 40px;
}
.container ul li a{
    text-decoration: none;
    display: block;
    color: black;
    padding: 0 15px 0 15px;
}
.container ul li a:hover {
    background-color: #ddd;
    color: black;
  }
.fixclear.clear{
    height: 160px;
}
.body_1{
    width: 1240px;
    height: 2900px;
    margin: 0 auto;
}
.head_4{
    height: 720px;
    background-color: rgb(254, 238, 233);
    margin: 0px auto;
}
.img{
    width: 100%;
    height: 450px;
    margin-top: 10px;
    background-color: rgb(254, 238, 233);
}
.img_1{
    margin-top: 7px;
    margin-left: 20px;
    width: 740px;
    height: 450px;
    float: left;
}
.img_1  img{
    width: 740px;
    height: 411px;
}
.img_2{
    float: right ;
}
.img_2_1{
    margin-top: -10px;
    line-height:155px;
    padding-right: 50px;
}
.img_2_1  img{
    width: 370px;
    height: 116px;
}
.fixclear:after {
    clear: both;
    content: ".";
    display: block;
}
.tintuc{
    width: 100%;
    height: 30px;
    background-color: rgb(254, 247, 244);
}
.tintuc_1{
    width: 15%;
    height: 30px;
    border: 1px solid #fff;
    border-radius: 54px;
    margin-left: 10px;
    list-style: none;
    float: left;
    background-color: rgb(254, 247, 244);
}
.tintuc_1 a{
    padding-top: 5px;
    text-decoration: none;
    text-align: center;
    display: block;
    color: black;
}
.tintuc_2{
    float: left;
    margin-left: 30px;
}
.tintuc_2 a{
    display: inline-flex;
    text-decoration: none;
    color: inherit;
    cursor: pointer;    
}
.tintuc_2 a p{
    font-weight: normal;
    font-size: 14px;
    display: flex;
    align-items: center;
    color: #090809;
    margin: 0;
    position: relative;
}
.hang{
    background: #fff;
    font-size: 100;
    padding-top: 10px;
    display: block;
}

.hang_1{
    display: flex;
    flex-wrap: wrap;
}
.hang_1 a:hover {
    border:1px solid black;
    opacity: 0.8;
}
.hangdt.logo.iphone_dt{
    border:1px solid black;
}
.hang_1 a img{
    width: 100%;
    height: 35px;
}
.hangdt.logo{
    height: 100px;
    border-radius: 52px;
}
.hangdt {
        align-items: center;
        border: 1px solid #e0e0e0;  
        color: #333;
        display: flex;
        font-size: 14px;
        line-height: 13px;
        margin-right: 13px;
        margin-bottom: 13px;
        width: 15%;
        max-height: 50px;
        padding: 10px 13px;
        vertical-align: top;
}
.img_hang{
    vertical-align: middle;
    border-radius: 20px;
    margin-right: 5px;
    margin-top: -10px;
}
.head_5{
    width: 1240px;
    height: auto;
    margin: 0 auto;
}
.text_goiy{
    background-color: rgb(231, 124, 0);
}
.goiy p{
    line-height: 30px;
    margin-left: 20px;
}
.list-product{
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 40px 0;
    border-right: 1px solid #F6F7F8;
}
footer {
    display: block;
}
.footer{
    width: 100%;
    height: 400px;
    background-color: rgb(234, 234, 234);
}
.footer .footer_zero{
    width: 100%;
    height: 240px;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
}
.fixclear.clearbody{
    background-color: brown;
}
.footer_one{
    width: 20%;
    height: 200px;
    float: left;
    overflow: hidden;
    display: flex;
    padding: 0 3.5625rem;
    border-right: 1px solid rgba(0,0,0,.09);
}
.footer_two{
    height: 90px;
    background-color: #fff;
}
.footer_one ul{
    padding: 0px;
    margin: 0px;    
    width: 100%;
    list-style: none;
    text-transform: uppercase;
    font-size: .75rem;
    line-height: 25px;
    text-align: center;
}
.footer_one ul li{
    display: list-item;
    text-align: -webkit-match-parent;
}
.footer_one ul li.demo{
    float: left;
    margin-top: 10px;
}
img.image_1{
    width: 50px;
    height: 50px;  

}
.footer_one ul li a{
    width: 100%;
    text-decoration: none;
    display: block;
    line-height: 40px;
    color: black;
    padding: 0px 10px;
}

._1ib9F1 {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: .3125rem;
    border-top: .03125rem solid rgba(0,0,0,.1);
    min-height: 5.625rem;
    color: rgba(0,0,0,.54);
}
._1ib9F1, ._3iAbMl {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}
._1ib9F1 {
    /* -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center; */
    align-items: center;
}
.qO3oPb {
    border-right: 1px solid rgba(0,0,0,.2);
    padding: 0 .3125rem;
}
a {
    background-color: transparent;
}
._3fl0h0 {
    text-decoration: none;
    color: rgba(0,0,0,.54);
}

.eVPSxi {
    font-size: .75rem;
    color: rgba(0,0,0,.65);
    padding: 2.625rem 0 2.3125rem;
    background: #f5f5f5;
}
.JBZy9s {
    width: 100%;
    margin: 0 auto;
}
._3hZhfd {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 2.5rem;
}
._1Q6CiU {
    padding: 0 1.5625rem;
    border-right: 1px solid rgba(0,0,0,.09);
    text-transform: uppercase;
    font-size: .75rem;
}
._14eYNa {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 0;
}
._1xU4be {
    margin-bottom: 1.5625rem;
}
._1c2Tz5 {
    display: block;
    width: 100%;
    text-align: center;
    margin-top: .5rem;
}
.eVPSxi {
    font-size: .75rem;
    color: rgba(0,0,0,.65);
    padding: 2.625rem 0 2.3125rem;
    background: #f5f5f5;
}
._1g5laT {
    text-decoration: none;
    display: block;
    color: rgba(0,0,0,.54);
}
._258ry7 {
    width: 3rem;
    height: 3rem;
}
._3UA5oc span{
    background-image: url(https://joysvietnam.com/images/logo/logoCCDV.png);
}

/* Hãng */
.Iphone{
    width: 1240px;
    height: auto;
    /* background-color: antiquewhite; */
    margin: 0 auto;
}
.imagedt{
    height: 250px;
}
.link_hangdt{
    height: auto;
    display: block;
}
.link_dt{
    height: 50px;
    background-color: azure;
}
.boloc{
    display: flex;
    /* min-height: 40px; */
    height: 58px;
    align-items: center;
    justify-content: start;
    padding: 4px 20px;
    background-color: lemonchiffon;
}
/* .boloc .boloc_p{
    width: 200px;
    height: 50px;
} */
.check_gia{
    height: 20px;
    margin-left: 20px;
}

.check_gia ul{
    border-left: 1px solid black;
    margin: 0px;
    height: 0px;
    display: inline;
}
.check_gia ul li{
    list-style-type: none;
    display: inline;
}
.check_gia ul li input{
    margin-left: 40px;
    display: inline;
    text-decoration: none;
}
.head_boloc{
    width: 1240px;
    height: auto;   ;
    background: rgb(255, 165, 0);

}
.dropbtn {
    border: 0;
    width: auto;
    height: 40px;
    color: #000;
    padding: 0 16px 0 0;
}
.a_boloc .dropbtn:after {
    content: '';
    display: block;
    width: 8px;
    height: 16px;
    background-size: 8px auto;
    background-position: center center;
    background-image: url(https://stcv4.hnammobile.com/v7/images/icon/chervon_down_grey.svg);
    background-repeat: no-repeat;
    position: absolute;
    top: 18px;
    right: 6px;
}   
.link_boloc{
    display: flex;
    font-size: 14px;
    color: #090809;
    flex: 0 0 216px;
    justify-content: flex-end;
    border: none;
    cursor: pointer;
}
.a_boloc{
    width: 100px;
    height: 50px;
    position: relative;
    display: inline-block;
}
.a_boloc:hover, .a_boloc:focus {
    background-color: #2980B9;
  }
.boloc button{
    width: 100%;
    height: 50px;
}
@media only screen and (min-width: 768px){
    .boloc .link_boloc{
    margin-left: auto;
}
}

button, a.btn, input[type=submit], input[type=button] {
    border: 0;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 14px;
    color: black;
    background: orange;
    outline: 0;
    border-radius: 2px;
    text-align: center;
    cursor: pointer;
    -moz-appearance: none;
    -webkit-appearance: none;
}
button:hover, a.btn:hover, input[type=submit]:hover, input[type=button]:hover {
    opacity: 0.9;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content.show{
    display: block;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .text1 {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    /* top: 0; */
}
.a_boloc a:hover {background-color: #ddd;}
.dropdown-content a {
    font-size: 14px;
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
